#v1{
   border: 1px solid red;
}

#cuteGirl{
   background: #00FF00 url('../image/1.jpg') no-repeat fixed center;
   width: 300px;
   height: 400px;
}
#cuteGirl2{
   background: url('../image/2.jpg');
   width: 300px;
   height: 400px;
   background-size: 300px 400px;


}