#v1{
   border: 1px solid red;
}

#cuteGirl{
   display: inline-block;
   background: url('../image/1.jpg');
   width: 100px;
   height: 200px;
   background-size: 100px 200px;
}
#cuteGirl2{
   display: inline-block;
   background: url('../image/2.jpg');
   width: 100px;
   height: 200px;
   background-size: 100px 200px;
}